@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #0d171f;
  --color-secondary: #15202c;
  --color-accent: #5c44f5;
  --color-text: #ffffff;

  --font-bebas: 'Bebas Neue', sans-serif;
  --font-quicksand: 'Quicksand', sans-serif;

  --breakpoint-xs: 30rem;
}



.drag {
  -webkit-app-region: drag;
}

.no-drag {
  user-select: auto !important;
  -webkit-app-region: no-drag !important;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  scrollbar-color: var(--color-accent) var(--color-primary);
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background-color: var(--color-primary);
}
